/*styles go here*/

/*general*/

* {
  font-family: sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/*navigation styles*/

.navigation {
  background: #7BCED3;
  overflow: auto;
  padding: 10px
}

.nav-logo {
  float: left;
  padding: 10px;
  width: 250px;
}

.nav-logo img {
  width: 150%;
}

.nav-items ul {
  display: inline-block;
  float: right;
}

.nav-items ul {
  padding: 0;
}

.nav-items ul li {
  display: inline-block;
  margin: 0 5px 0 5px;
}

.nav-items ul li a {
  color: #ffffff;
  text-decoration: none;
}

.nav-items ul li a:hover {
  color: #CC487A
}



/* header */

.header {
  background: url('../images/workspace.jpg');
  background-size: cover;
  background-position: center;
  height: 80vh;
  position: relative;
  text-align: center;
}

.header .header-text {
  background: rgba(1, 1, 1, 0.8);
  color: #ffffff;
  display: block;
  margin: auto;
  max-height: 220px;
  max-width: 500px;
  padding: 40px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}


.header .header-arrow {
position: absolute;
bottom: 40px;
}


/* portfolio */

.portfolio {
  padding: 40px 0;
}

.portfolio .item-cont {
  display: inline-block;
  margin: 40px 0;
  width: 49.7%;
}

.portfolio .item-cont .portfolio-item {
  background: url('http://source.unsplash.com/random');
  background-size: cover;
  background-position: center;
  height: 450px;
  width: 450px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.portfolio .item-cont .portfolio-item.one {
  background-image: url('../images/pizza.jpg');
}

.portfolio .item-cont .portfolio-item.two {
  background-image: url('../images/flowers.jpg');
}

.portfolio .item-cont .portfolio-item.three {
  background-image: url('../images/bakery.jpg');
}

.portfolio .item-cont .portfolio-item.four {
  background-image: url('../images/photo.jpg');
}

.portfolio .item-cont .portfolio-desc {
  background: rgba(1, 1, 1, 0.8);
  padding: 10px 20px;
  position: absolute;
  bottom: -110px;
  width: 100%;
  transition: transform 0.4s ease;
}

.portfolio .item-cont .portfolio-desc a {
  text-decoration: none;
  color: #ffffff
}

.portfolio-item:hover .portfolio-desc {
  transform: translateY(-110px);
  transition: transform 0.4s ease;
}

/*about*/

.about {
  padding: 80px 0;
  background: #F8F6F6;
}

.profile-image-cont {
  display: inline-block;
  text-align: right;
  width: 30%;
}

.profile-image {
  border-radius: 50%;
  max-width: 250px;
  width: 100%;
  max-height: 250px;
}

.profile-text-cont {
  display: inline-block;
  padding-left: 40px;
  float: right;
  width: 60%;
}

.profile-text-cont a {
  max-width: 500px;
}


/*contact*/

.contact {
  padding: 80px 0;
  text-align: center;
}

.contact .contact-text-container {
  max-width: 700px;
  margin: 0 auto;
}
