* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


body {
    margin: 0;
}
.navigation {
    background: #7BCED3;
    overflow: auto;
    padding: 10px;
    margin: 0px;
    margin: 0;
}
  
  .nav-logo {
    float: left;
    padding: 10px;
    width: 250px;
}
  
  .nav-logo img {
    width: 150%;
}
  
  .nav-items ul {
    float: right;
    margin-top: 25px;
    font-size: 14px;
  }
  
  .nav-items ul {
    padding: 0;
}
  
  .nav-items ul li {
    display: inline-block;
    margin: 0 5px 0 5px;
}
  
  .nav-items ul li a {
    color: #ffffff;
    text-decoration: none;
}
  
  .nav-items ul li a:hover {
    color: #CC487A
}


.title {
    padding: 4%;
    padding-left: 10%;
}





.container{
  display: grid;
  grid-gap: 3%;
  /* grid-template-columns: repeat (auto-fit, minmax 100px, 1fr); */
  /* grid-template-rows: 20px auto 20px; */
  grid-template-areas: 
      "a a a a b b b b c c c c"
      "a a a a b b b b c c c c"
      "d d d d e e e e f f f f"
      "d d d d e e e e f f f f"      
      "g g g g h h h h i i i i"
      "g g g g h h h h i i i i"
      "j j j j k k k k l l l l"
      "j j j j k k k k l l l l";
      /* justify-content: space-between;
      justify-items: start; */
      padding-bottom: 40px;
      margin-bottom: 40px;
      margin-right: 10%;
      
}
img {
    object-fit: scale-down;
}

.contents{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 40px;
}
.one{
    max-width: 49%;
    max-height: 49%;
    grid-area: a;
}
.two{
    max-width: 49%;
    max-height: 49%;
    grid-area: b;
}
.three{
    max-width: 49%;
    max-height:49%;
    grid-area: c;
}

.four{
    max-width: 49%;
    max-height:49%;
    grid-area: d;
}

.five{
    max-width: 49%;
    max-height: 49%;
    grid-area: e;
}

.six{
    max-width: 49%;
    max-height:49%;
    grid-area: f;
}

.seven{
    max-width: 49%;
    max-height:49%;
    grid-area: g;
}

